<div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
        <h3>{{message}}</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form method="POST" action="/api/tasks" class="form" role="form"
                enctype="application/x-www-form-urlencoded">
                <legend>Enter Registration Information Here</legend>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" class="form-control" name="description" id="title" placeholder="description">
                </div>

                <div class="form-group">
                    <label for="state">State </label>
                    <input type="text" class="form-control" name="state" id="State" placeholder="State">
                </div>

                {{!-- <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="pw" id="pw">
                </div> --}}

                {{!-- <div class="form-group">
                    <label for="pw_confirm">Confirm Password</label>
                    <input type="password" class="form-control" name="pw_confirm" id="pw_confirm">
                </div> --}}

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>